In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/calendar_.txt')

In [3]:
df.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,25436,2024-09-29,f,$35.00,NaN,100.0,160.0
1,25436,2024-09-30,f,$35.00,NaN,100.0,160.0
2,25436,2024-10-01,f,$35.00,NaN,100.0,160.0
3,25436,2024-10-02,f,$35.00,NaN,100.0,160.0
4,25436,2024-10-03,f,$35.00,NaN,100.0,160.0

In [6]:
df['date']

0        2024-09-29
1        2024-09-30
2        2024-10-01
3        2024-10-02
4        2024-10-03
            ...
85888    2025-05-14
85889    2025-05-15
85890    2025-05-16
85891    2025-05-17
85892       2025-05
Name: date, Length: 85893, dtype: object

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85893 entries, 0 to 85892
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   listing_id      85893 non-null  int64
 1   date            85893 non-null  object
 2   available       85892 non-null  object
 3   price           85892 non-null  object
 4   adjusted_price  0 non-null      float64
 5   minimum_nights  85892 non-null  float64
 6   maximum_nights  85892 non-null  float64
dtypes: float64(3), int64(1), object(3)
memory usage: 4.6+ MB

In [11]:
df['date'] = df['date'].apply(lambda x: pd.Timestamp(x))

In [14]:
df = df[df['date'] < pd.Timestamp('2025-01-01')]

In [16]:
df.to_csv('calendar_new.csv')

In [9]:
pd.Timestamp('2024-12-09')

Timestamp('2024-12-09 00:00:00')